.register_page {
  background-image: url("../../../../imagess/background_login.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*   padding-bottom: 250px;
   */
}

.form_wrapper {
  width: 500px;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
  /*   opacity: 0.9;
 */
  padding: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

form {
  display: flex;
  flex-direction: column;
}

.userInput {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 10px;
  /*   opacity: 0.9;
 */
  box-sizing: border-box;
  color: black;
}
.checkbox {
  margin-top: 50px;
}

.login_button {
  width: 100%;
  background: lightblue;
  cursor: pointer;
  padding: 10px;
  margin-top: 60px;
}

.signup {
  margin-top: 25px;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 600px) {
  .login_button {
    background-color: greenyellow;
  }
  .form_wrapper {
    width: 100%;
  }
}
