.filter {
  width: 100%;
  height: 600px;
}
.triplistimg {
  width: 100%;
  height: 100%;
}
.trips_heading {
  color: #333;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2vw;
  font-family: "Great Vibes", cursive;
}
.trips {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.noviLajk {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tripp {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 10px;
  position: relative;
  border: solid 1px rgb(182, 182, 182);
}

.tripp:hover {
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.trippImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.tripImage {
  widows: 100%;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
}
.price {
  position: absolute;
  right: 20px;
  top: 5px;
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px black;
}
.tripsContainer {
  width: 95%;
  height: auto;
  margin: 20px auto 20px auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
}
.tripp a {
  text-decoration: none;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.thumbs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.info1 {
  padding-left: 10px;
}

.info1 p {
  margin: 0px;
}
.location {
  font-weight: 700;
}

.infoFav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 15px;
}

.infoFav p {
  margin: 0px;
}

.buttonDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  color: white;
  background-color: rgb(109, 108, 108);
  margin-top: 10px;
}

.buttonDetails:hover {
  background-color: rgb(202, 200, 200);
  color: #333;
}

.info2 {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.info2 a {
  width: 40%;
}
.lajk {
  padding-right: 10px;
  color: #333;
}

.liked {
  color: blue;
}

.plikes {
  color: blue;
}
.plikes:hover {
  text-decoration: underline;
  cursor: pointer;
}
