.homepage_container {
  width: 100%;
  height: 100%;
}
.heading {
  color: #333;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2vw;
  font-family: "Great Vibes", cursive;
}

.header_container {
  width: 100%;
  position: relative;
  height: 100%;
}

.header_container a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
}
.header_container img {
  width: 100%;
}
.tripCard {
  position: relative;
  border-radius: 5%;
  width: 300px;
}

.trophy {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70%;
  left: 75%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  /* background-color: rgba(225, 225, 225, 0.7); */
}
.trophy img {
  width: 90%;
  height: 90%;
}
.bestTrips {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 60px;
}
.heading h1 {
  text-align: center;
}

.tripImg {
  border-radius: 5%;
  width: 100%;
  height: 100%;
}

.tripCard:hover {
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
