.homepage_container {
  width: 100%;
}

.header_container {
  /*   background-image: url("../../../imagess/header_background.jpg");
 */
  width: 100%;
}
.header_container img {
  width: 100%;
}

.heading h1 {
  /* width:100%; */
  text-align: center;
}

.ponude{
  width: 90%;
  margin:auto;
}
.topTrips{
margin-top:100px;
  width: 100%;
  height: 350px;
}

.topTrips_heading{
  width: 100%;
  text-align: center;
}

.topTrips_img{
  
  
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.tripImg{
  border-radius: 5%;
  width: 210px;
  height: 180px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#trip1{
  margin-top: 100px;
}
#trip3{
  margin-top: 100px;
}