.profilContainer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profilInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.profilInfo1 {
  /* width: 50%; */
  margin-left: 70px;
}
.profilImg {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  margin-left: 90px;
}

.profilImg1 {
  width: 220px;
  height: 220px;
  border-radius: 20%;
}
.profilImg1 img {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  object-fit: cover;
}

.myTrips {
  width: 100%;
}
.myTripsHeading {
  color: #333;
  width: 100%;
  font-weight: 700;
  font-size: 2vw;
  font-family: "Great Vibes", cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tripList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 80px;
  padding-right: 80px;
}

.myTripsTrips {
  width: 100%;
  height: auto;
  margin: 20px auto 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(214, 211, 211);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}
/* 
#addCard {
  background-color: rgb(179, 179, 179);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(109, 109, 109);
  cursor: pointer;
} */
.addCard {
  background-color: rgb(179, 179, 179);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(109, 109, 109);
  cursor: pointer;
}
.dropdown_container {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 70%;
  height: fit-content;
}

.optionDiv {
  width: 90%;
}
.formDiv {
  width: 90%;
  height: auto;
  margin: 20px auto 20px auto;
  background-color: rgb(214, 211, 211);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.form label {
  width: 46%;
}
.user_input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: black;
}

.createButton {
  margin: auto;
  width: 100%;
  background: lightblue;
  cursor: pointer;
  padding: 10px;
  margin-top: 60px;
}
