.formContainer {
  width: 100%;

  padding-top: 30px;
}
.headingCreate {
  color: #333;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2vw;
  font-family: "Great Vibes", cursive;
}
.form {
  width: 70%;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 30px;
}
.formContainer label {
  width: 100%;
}
.user_input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  box-sizing: border-box;
  color: black;
}

.text_area {
  width: 100%;
  height: 100px;
  padding-left: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: black;
}

.createButton {
  margin: auto;
  width: 50%;
  background: lightblue;
  cursor: pointer;
  padding: 10px;
  margin-top: 60px;
}

.time {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
