.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(225, 225, 225, 0.8);
  font-size: 20px;
  color: #333;
}

/* .mm{
  background-color: rgba(225,225 ,225 ,0)
}
.header a{
  text-decoration: none;
  color: #333;
}
.header a:hover{
  font-size: 23px;
  font-weight: 500;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  background-color: rgba(225,225 ,225 ,0)
}

.m {
  width: 90%;
  background-color: rgba(225,225 ,225 ,0);
} */

.second_header {
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.8);
  font-size: 20px;
  color: #333;
}
.firstHeaderPart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Great Vibes", cursive;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.firstHeaderPart a {
  text-decoration: none;
  color: #333;
}

.ifLogin {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

.secondHeaderPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333;
}

.secondHeaderPart a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: "Great Vibes", cursive;
}

.tripss {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* .secondHeaderPart {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2.5vw;
  font-family: "Great Vibes", cursive;
}

.secondHeaderPart a {
  text-decoration: none;
  color: #333;
}

.thirdHeaderPart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.partOfThirdHeaderPart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  font-weight: 500;
  font-family: "Great Vibes", cursive;
  margin-top: 20px;
  margin-bottom: 20px;
}

.partOfThirdHeaderPart a {
  text-decoration: none;
  color: #333;
} */
