.filter {
  width: 100%;
  height: 600px;
}
.triplistimg {
  width: 100%;
  height: 100%;
}
.trips_heading {
  color: #333;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2vw;
  font-family: "Great Vibes", cursive;
}
.trips {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.searchV {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.searchV input {
  width: 87%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border-radius: 5px;
  margin-bottom: 12px;
}
.tripp {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 10px;
}

.tripp:hover {
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.trippImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.tripImage {
  widows: 100%;
}

.tripp a {
  text-decoration: none;
}
