.footer {
  /*   width: 100%;
 */ /*   height:60px;
 */
  padding: 15px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Great Vibes", cursive;
}

.contact{
  display: flex;
  flex-direction: row;
}
.logo{
  
  width:150px;
}
.logo img{
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}
.follow i {
  width: 50px;
  height: 30px;
}

.certificate i {
  width: 100px;
  height: 30px;
}

.contact h3 {
  font-family: "Great Vibes", cursive;
  text-align: center;
}
.follow h3 {
  font-family: "Great Vibes", cursive;
  text-align: center;
}
.certificate h3 {
  font-family: "Great Vibes", cursive;
  text-align: center;
}
.icons {
  margin-left: 30px;
}
i {
  padding: 7px;
}
.text {
  margin-left: 5px;
  font-weight: 600;
}
