.h1 {
  margin-right: 40px;
}
.h2 {
  margin-right: 20px;
}
.second_header {
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.8);
  font-size: 20px;
  color: #333;
}
.firstHeaderPart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Great Vibes", cursive;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logout {
  cursor: pointer;
}

.firstHeaderPart a {
  text-decoration: none;
  color: #333;
}

.ifLogin {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: white;
}

.secondHeaderPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333;
}

.secondHeaderPart a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: "Great Vibes", cursive;
}

.tripss {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  height: 120px;
}
